wsdl/helloWorldfull.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.hw.demo/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloWorld" targetNamespace="http://server.hw.demo/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.hw.demo/" elementFormDefault="unqualified" targetNamespace="http://server.hw.demo/" version="1.0">

  <xs:element name="getUsers" type="tns:getUsers"/>

  <xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

  <xs:element name="sayHi" type="tns:sayHi"/>

  <xs:element name="sayHiResponse" type="tns:sayHiResponse"/>

  <xs:element name="sayHiToUser" type="tns:sayHiToUser"/>

  <xs:element name="sayHiToUserResponse" type="tns:sayHiToUserResponse"/>

  <xs:complexType name="getUsers">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:IntegerUserMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IntegerUserMap">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:IdentifiedUser"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentifiedUser">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="user" type="tns:User"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHiToUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:User"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHiToUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHi">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHi">
    <wsdl:part element="tns:sayHi" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsers">
    <wsdl:part element="tns:getUsers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiToUser">
    <wsdl:part element="tns:sayHiToUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiToUserResponse">
    <wsdl:part element="tns:sayHiToUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiResponse">
    <wsdl:part element="tns:sayHiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part element="tns:getUsersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloWorld">
    <wsdl:operation name="getUsers">
      <wsdl:input message="tns:getUsers" name="getUsers">
    </wsdl:input>
      <wsdl:output message="tns:getUsersResponse" name="getUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHiToUser">
      <wsdl:input message="tns:sayHiToUser" name="sayHiToUser">
    </wsdl:input>
      <wsdl:output message="tns:sayHiToUserResponse" name="sayHiToUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <wsdl:input message="tns:sayHi" name="sayHi">
    </wsdl:input>
      <wsdl:output message="tns:sayHiResponse" name="sayHiResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorldSoapBinding" type="tns:HelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHiToUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHiToUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHiToUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorld">
    <wsdl:port binding="tns:HelloWorldSoapBinding" name="HelloWorldImplPort">
      <soap:address location="http://localhost:9000/helloWorld"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>